<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {%load staticfiles%}
    <link rel="stylesheet" href="{%staticfiles 'style.css'%}">
    <title>REMINISCE</title>
  </head>
  <body>
    <!--NAVIGATION START-->
      <nav>
        <ul>
          <li><a href="#"><ion-icon name="home"></ion-icon><p>HOME</p></a></li>
          <li><a href="#gallery"><ion-icon name="images"></ion-icon><p>GALLERY</p></a></li>
          <li><a href="#discover"><ion-icon name="grid"></ion-icon><p>DISCOVER</p></a> </li>
          <li><a href="#"><ion-icon name="information-circle"></ion-icon><p>ABOUT</p></a>
          </li>
        </ul>
      </nav>
    <!--NAVIGATION ENDS-->

    <!--LANDING PAGE START-->


     <section class="home" id="home">
        <div class="glass">
            <div class="content">
            <h1>REMINISCE</h1>
            <p>A Catalogue of beautiful Moments and Memories.</p>
            <a href="#" class="explore">EXPLORE</a>
        </div>
        </div>
    </section>
    
      <!--LANDING PAGE ENDS-->



      <!--DISCOVER STARTS-->
      <section class="discover" id="discover">
        <div class="container-discover"> 
          <div class="card">
            <div class="face face1">
              <h1>YEAR BOOK</h1>
            <p>Discover the moments in the year. </p>
            <a href="/yearbook">DIVE IN</a>
            </div>
            <div class="face face2">
              <ion-icon name="book"></ion-icon>
            </div>
          </div>
          <div class="card">
            <div class="face face1">
              <h1>ACHIEVEMENTS</h1>
              <p>College life is also about performing great feats.</p>
              <a href="">DIVE IN</a>
            </div>
            <div class="face face2">
              <ion-icon name="ribbon"></ion-icon>
            </div>
          </div>
          <div class="card">
            <div class="face face1">
              <h1>CAPTURED MOMENTS</h1>
              <p>You miss something, we bring it back to you in the form of captured moments.</p>
              <a href="">DIVE IN</a>
            </div>
            <div class="face face2">
              <ion-icon name="film"></ion-icon>
            </div>
          </div>
          <div class="card">
            <div class="face face1">
              <h1>ALUMNI BOARD</h1>
              <p>The title itself says it all.</p>
              <a href="">DIVE IN</a>
            </div>
            <div class="face face2">
              <ion-icon name="people"></ion-icon>
            </div>
          </div>
        </div>
      </section>

      <!--DISCOVER ENDS-->


      <!--FOOTER STARTS-->
      <footer>
        <p>| Copyright  @2021  All  right  reserved   | Designed  by  NINJABuoy |</p>
      </footer>

      <!--FOOTER ENDS-->





  	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html> 
