<!DOCTYPE html>
<html lang="en">
    {%load static%}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{%static 'yearbook.css'%}">
	<title>REMINISCE| Yearbook</title>
</head>
<body>
	 <!--NAVIGATION START-->
   <nav>
    <ul>
      <li><a href="/home#"><ion-icon name="home"></ion-icon><p>HOME</p></a></li>
      <li><a href="/home#gallery"><ion-icon name="images"></ion-icon><p>GALLERY</p></a></li>
      <li><a href="/home#discover"><ion-icon name="grid"></ion-icon><p>DISCOVER</p></a> </li>
      <li><a href="/home#"><ion-icon name="information-circle"></ion-icon><p>ABOUT</p></a>
      </li>
    </ul>
  </nav>
<!--NAVIGATION ENDS-->
  <section>
    {%for records in record%} 
    <div class="card">
     <div class="box">
      <div class="imgbx">
        <ion-icon name="mail-unread"></ion-icon>
      </div>
        <div class="content">
          <div>
	  <div class="conbx">
            <ion-icon name="mail-open"></ion-icon>
          </div>
            <h1>{{records.NAME}}</h1>
            <p>"{{records.MESSAGE}}" </p>
          </div>
        </div>
      </div>
    </div>
    {%endfor%}
  </section>
 <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
